/Arbitragem.class
/Atleta.class
/Campeonato.class
/ComissaoTecnica.class
/Entidade.class
/FaseGrupos.class
/Grupo.class
/Jogo.class
/Main.class
/MataMata.class
/Pessoa.class
/PontosCorridos.class
/Time.class
